
*{
  margin: 0;
  padding: 0;

}
body {
  background-image: url("img/team/WDvXaS.jpg");
  background-size: cover;

}

h1 {
  text-align: center;
  color: rgb(252, 250, 250);
  font-size: 45px;
}

.anshul {
  padding-left: 192px;
  padding-top: 50px;
  font-size: 60x;
  color: rgb(239, 241, 244);
}

.ak img {
  border-radius: 40%;
  width: 250px;
  height: 251px;
  margin-left: 190px;
}
.raw{
  margin-left: -156px;
  margin-top: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ak, .ak h3{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}